*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    text-align: center;
    border: dashed red;
    margin-bottom: 50px;
}

.navbar a {
    padding: 0px 20px;
}

.navbar a:nth-child(2){
    border-left:solid black;
    border-right:solid black;
}

.content h3{
    text-align: center;
    margin-bottom: 40px;
}

.picture{
    display: inline-block;
    width: 50%;
}

.writeup{
    display: inline-block;
    width: 50%;
}