@model List<Dish>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to CRUDelicious</h1>
        @* <div class="col-12">This is a col *@
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col mb-4" style="border-bottom: solid black;">
                            <p>Check out some recent dishes!</p>
                        </div>
                    </div>
                    <ul>
                        @foreach (Dish dish in Model)
                        {
                            <li>
                                <a
                                asp-controller="CRUD"
                                asp-action="Details"
                                asp-route-id="@dish.DishId">
                                @dish.Name
                                </a>
                                by @dish.Chef
                            </li>
                        }
                    </ul>
                </div>
                <div class="col">
                    <a
                        asp-controller="CRUD"
                        asp-action = "New">
                        Add a Dish
                    </a>
                    </div>
            </div>
        @* </div> *@
    </div>
</body>
</html>