<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Contact.css">
</head>
<body>
    <nav class="navbar justify-content-center mb-4">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active border-right border-left" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="col">
            <h3 class="text-center mb-4">Contact Me!</h3>
            <div class="row">
                <div class="col-5 mt-4 mr-3">
                    <div class="row mt-3"></div>
                    <div class="row mb-2">
                        <div class="col-3">Name</div>
                        <div class="col-2">
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Email</div>
                        <div class="col-2">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p>Message</p>
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-9"></div>
                <button style="width: 70px;">Send</button>
            </div>
        </div>
    </div>
</body>
</html>