<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Projects.css">
</head>
<body>
    <nav class="navbar justify-content-center mb-4">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled border-right border-left" href="">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h3 class="text-center mb-4">Here are some projects of mine!</h3>
        <div class="col border border-dark overflow-auto p-4" style="height: 400px;">
            <div class="row border border-warning mb-4 p-2">
                <div class="col-2 d-flex justify-content-center">
                    <img class="img-fluid" style="height: 75px;" src="~/img/Ben.JPG" alt="">
                </div>
                <div class="col">
                    <div class="row">Cool Thing!</div>
                    <div class="row">text all about it</div>
                </div>
            </div>

            <div class="row border border-warning mb-4 p-2">
                <div class="col-2 d-flex justify-content-center">
                    <img class="img-fluid" style="height: 75px;" src="~/img/Ben.JPG" alt="">
                </div>
                <div class="col">
                    <div class="row">Cool Thing!</div>
                    <div class="row">text all about it</div>
                </div>
            </div>

            <div class="row border border-warning mb-4 p-2">
                <div class="col-2 d-flex justify-content-center">
                    <img class="img-fluid" style="height: 75px;" src="~/img/Ben.JPG" alt="">
                </div>
                <div class="col">
                    <div class="row">Cool Thing!</div>
                    <div class="row">text all about it</div>
                </div>
            </div>

            <div class="row border border-warning mb-4 p-2">
                <div class="col-2 d-flex justify-content-center">
                    <img class="img-fluid" style="height: 75px;" src="~/img/Ben.JPG" alt="">
                </div>
                <div class="col">
                    <div class="row">Cool Thing!</div>
                    <div class="row">text all about it</div>
                </div>
            </div>

        </div>
    </div>    
</body>
</html>