@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <div class="container">
            <h3 class="mt-4 text-center">Here is a User!</h3>
        <div class="content mt-4 d-flex align-items-center justify-content-center" style="height: 500px;">
            <p>@Model.Name</p>
        </div>
    </div>
</body>
</html>