@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> *@
</head>
<body>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-11">
                <h1>Register to this Cool Site!</h1>
            </div>
            <div class="col-1 d-flex align-items-center">
                <a
                    asp-controller= "LogReg"
                    asp-action = "Login">
                    Login
                </a>
            </div>
        </div>
    </div>

    <form asp-action="SubmitRegister" asp-controller="LogReg">
            <div class="row">
                <div class="col-2">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <button class="mt-4">Sign up Now</button>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <label asp-for="PasswordConfirm">Confirm Password</label>
                    <input asp-for="PasswordConfirm">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
        </form>
</body>
</html>