<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Submitted Info</title>
</head>
<body>
    <div class="container mt-4 p-4 border border-dark">
        <h3 class="mb-4"><u>Submitted Info</u></h3>
            <div class="form-group d-flex justify-content-start">
                <label class="col-6" for="Name">Name:</label>
                <output class="col-6" type="text" name="Name" id="Name">Michael Choi</output>
            </div>
            <div class="form-group d-flex justify-content-start">
                <label class="col-6" for="Location">Dojo Location:</label>
                <output class="col-6" type="text" name="Location" id="Location">San Jose</output>
            </div>
            <div class="form-group d-flex justify-content-start">
                <label class="col-6" for="Language">Favorite Language</label>
                <output class="col-6" type="text" name="Location" id="Language">C#</output>
            </div>
            <div class="form-group d-flex justify-content-start">
                <label class="col-6" for="Comment">Comment</label>
                <output class="col-6" type="text" name="Comment" id="Comment">Hi everyone :)</output>
            </div>
            <div class="form-group d-flex justify-content-end">
                <a href="/" class="btn btn-primary">Go Back</a>
            </div>
        </form>
    </div>   
</body>
</html>